extends layout

block content
    div#widget-container
        div#home-logo
            a(href='/')
                span(class='link-spanner')
        div.confirmation-box
            h2.top-title #{confirmationMessage}
            h2.top-title
                a(href='/') Back to search
        div#button-container
            input(type='button', class='form-button', id='show-response-button', value='Show request and response')
            input(type='button', class='form-button', id='hide-response-button', value='Hide request and response')
block preview
    div#preview-container
        div#preview-header
        div#preview-content
            span The widget has sent this request:
            pre(class='preview-paragraph')
                code
                    p #{requestMethod}
                    p #{requestPath}
                    p Auth token:
                    p #{requestHeaders}
            span The API has returned a response with status code #{responseStatus} and body:
            pre
                code
                    p #{responseBody}