extends layout

block content
    div#widget-container
        div#home-logo
            a(href='/')
                span(class='link-spanner')
        form(id='select-availability', name='search', method='post')
            div(class='form-element', id='party-size')
                a(class='select-link', id='party-field') 2 people
                    i(class='fa fa-angle-down select-arrow')
                select(name='partySize', id='partypicker')
                    each size in [1,2,3,4,5,6]
                        if size == 2
                            option(value=size selected)= size + ' people'
                        else
                            option(value=size)= size + ' people'
            div(class='form-element', id='booking-date')
                a(class='select-link', id='date-field') #{moment().format("MMM Do YYYY")}
                    i(class='fa fa-angle-down select-arrow')
                input(class='index-input', type='text', name='date', id='datepicker', value=moment().format("YYYY-MM-DD"))
            div(class='form-element', id='book-by')
                a(class='select-link', id='time-field')
                    i(class='fa fa-angle-down select-arrow')
                select(name='timeSelect', id='timepicker')
            div(class='form-element', id='restaurant-selection')
                a(class='select-link', id='restaurant-field') Restaurant 1
                    i(class='fa fa-angle-down select-arrow')
                select(name='restaurantId', id='restaurantpicker')
                    each id in [1,2,3,9,10,11]
                        if id == 1
                            option(value=id selected)= id
                        else
                            option(value=id)= id
            div(class='form-element', id='submit-button')
                input(type='submit', class='button', value='Find a table')