extends layout

block content
    div#widget-container
        div#home-logo
            a(href='/')
                span(class='link-spanner')
        div.confirmation-notice-box
            h2.provision-title #{provisionMessage}
        div.confirmation-title-box
            h2.top-title Please confirm your reservation:
        form.confirmation-form(name='confirmation', action='/confirm_reservation/#{id}', method='post')
            input(type="hidden", name="reservationToken", value=reservationToken)
            input(class='confirmation-field', type='text', name='firstName', id='firstname', placeholder='first name')
            input(class='confirmation-field', type='text', name='lastName', id='lastname', placeholder='last name')
            input(class='confirmation-field', type='email', pattern="[^ @]*@[^ @]*", name='emailAddress', id='e-mail', placeholder='e-mail')
            input(class='confirmation-field', type='tel', name='phoneNumber', id='phone', placeholder='phone number')
            input(type='submit', class='button', id='confirm-button', value='Confirm your table')
block preview
    div#preview-container
        pre
            code(class='json') The API has returned a response with status code #{responseStatus} and body:
                p #{responseBody}
