extends layout

block content
    div#widget-container
        div#home-logo
            a(href='/')
                span(class='link-spanner')
        div#body-container
            div.notice-box
                h2.top-title Thanks for the request. There are #{results.length} tables available for #{results[0].partySize} people on #{moment(results[0].dateTime).format('dddd, Do MMMM YYYY')}:
            div#availability-list
                each item, index in results
                    div.availability-grid-third
                        form.provision-form(name='provision', action='/provision_reservation/#{id}', method='post')
                            input(type='hidden', name='dateTime', value='#{item.dateTime}')
                            input(type='hidden', name='partySize', value='#{item.partySize}')
                            input(type='submit', class='available-button', id='offer-popup-#{index}', data-index='#{index}', value=moment(item.dateTime).format('HH:mm'))
            div.offer-box
                a(class='offers-tip', data-tooltip=results[0].offers, title='') See the offers available for this restaurant.
block preview
    div#preview-container
        pre
            code(class='json') The API has returned a response with status code #{responseStatus} and body:
                p #{responseBody}
