extends layout

block content
    h2 Offers for #{results[0].partySize} people on #{moment(results[0].dateTime).format('dddd Do MMMM')}
    ul#availability-list
        each item in results
            form.provision-form(name='provision', action='/provision_reservation', method='post')
                li.offer-line
                    button.available-hour #{moment(item.dateTime).format('HH:mm')}
                    input(type="hidden", name="dateTime", value=item.dateTime)
                    input(type="hidden", name="partySize", value=item.partySize)
                    li.offer-line Offers available:
                    each offer in item.offers
                        li.offer-line #{offer.name}
